#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 16px;
  margin-bottom: 5px;
  font-size: 16px;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashCreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
    /*마우스에 걸리지 않게 사라짐, html은 계속 존재함*/
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  /*화면 넓이를 100%로 한다*/
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashCreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
  /*
  애니메이션 마지막 속성 유지하지 않음
  forwards : 마지막 속성 계속 유지
즉 애니메이션의 마지막 값 기억하고싶으면 forwards사용
또 애니메이션 딜레이 하고싶으면 animation-delay 사용할것
  */
}
