.welcome-header {
  margin: 90px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 여기서 justify와 align은 메인 축을 기준으로 움직이기 때문이
  여기의 메인축은 flex-direction:에서 column으로 했기 때문에
  column임 따라서 justify하면 위 아래로 움직임 */
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  padding: 15px 0;
  /*커지는것 처럼 보임 주의!!!*/
  border: none;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]) {
  transition: border-color 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /*not을 이용해서 input type="submit"일때 위에 것들 적용 안하게함*/
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  /*default 값 black*/
  font-size: 13px;
}
